@page
@model WebApp.Pages.Identificacion.EditModel
@{
}
<div id="AppEdit" class="container">
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue? "Actualizar": "Nueva Identificacion")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.IdCedula" />

                <div class="form-group mb-3">
                    <label for="Entity.Edad" class="form-label">IdTipoIdentificacion</label>
                    <input type="number" class="form-control" asp-for="Entity.IdTipoIdentificacion" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Nombre" class="form-label">Pasaporte</label>
                    <input type="text" class="form-control" asp-for="Entity.Pasaporte" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.PrimerApellido" class="form-label">Cedula Juridica</label>
                    <input type="text" class="form-control" asp-for="Entity.CedulaJuridica" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.SegundoApellido" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" asp-for="Entity.Descripcion" maxlength="250" required>
                </div>

                    <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">
                            @(Model.id.HasValue? "Actualizar": "Agregar")
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>

</div>

@section Scripts
{

    <script defer src="~/App/Identificacion/Edit.js"></script>


}